{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4">

    <h2>Edit Marks</h2>

    <form method="POST">

        {% csrf_token %}

        <input type="text"
               name="subject"
               value="{{ mark.subject }}"
               class="form-control mb-3">

        <input type="number"
               name="marks"
               value="{{ mark.marks }}"
               class="form-control mb-3">

        <input type="number"
               name="total_marks"
               value="{{ mark.total_marks }}"
               class="form-control mb-3">

        <button class="btn btn-success">
            Update Marks
        </button>

    </form>

</div>

{% endblock %}